<!DOCTYPE html>
<html>
  <head>
    <!-- <script src="https://unpkg.com/htmx.org@1.9.11"></script> -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      function handleJoin(){
        const code = document.getElementById("roomCode").value 
        window.location.href = "/" + code
      } 

      function handleCreate(){
 //       todo
      }
    </script>
  </head>
  <body
    class="h-screen w-screen bg-gray-900 text-gray-50 flex items-center justify-center flex-col space-y-5"
  >
    <div class="flex items-center justify-center">
      <input
        id="roomCode"
        type="text"
        placeholder="Type room code"
        class="p-2 text-gray-900"
        minlength="6"
        maxlength="6"
      />
      <button onclick="handleJoin()" class="ml-5 p-2 px-6 bg-gray-500 hover:bg-gray-700">Join</button>
    </div>
    <p class="font-bold">or</p>
    <button onclick="handleCreate()" class="ml-5 p-2 px-6 bg-gray-500 hover:bg-gray-700">Create room</button>
  </body>
</html>
